.contact-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
}

.contact-vid-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.contact-vid {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.contact-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  z-index: 5;
}

.contact-text {
  text-align: center;
  font-family: oakes-grotesk;
  width: 100%;
  height: auto;
  font-size: 4rem;
  line-height: 6rem;
  padding-top: 2rem;
}

.email {
  text-decoration: underline #ff4e33;
  color: black;
  display: inline-block;
  position: relative;
}

.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ff4e33;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* .email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.strong {
  color: white;
  -webkit-text-stroke: 2px black;
}

.collaborate {
  max-width: 100%;
  text-align: center;
  font-family: oakes-grotesk;
  font-size: 5rem;
  padding: 2rem 0;
  color: #ff4e33;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper {
    padding: 2rem;
  }

  .contact-container {
    background-color: #e9e9e9;
  }

  .contact-text {
    font-size: 2rem;
    line-height: 3rem;
  }

  .collaborate {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}
