.bio-page {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
}

.header-container {
  height: 80vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

.bio-img-wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bio-img {
  width: auto;
  height: 80%;
}

.bio-text-wrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hello {
  font-family: hackney;
  font-size: 10rem;
}

.header-text-1,
.header-text-2 {
  font-family: oakes-grotesk;
  font-size: 2rem;
  padding: 2rem 0 0 0;
}

.about-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0 2.5rem 0;
}

#about-text {
  font-family: hackney;
  font-size: 5rem;
}

.med-text {
  font-family: oakes-grotesk;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: lighter;
}

.sm-text {
  font-family: oakes-grotesk;
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: lighter;
}

.bio-wrapper {
    background-color: #e9e9e9;
}

.bio-container {
    background-color: #e9e9e9;
    height: auto;
    display: flex;
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;   

}

.about-row {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
}

.about-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  align-items: flex-start;
}

.bio-img-wrapper-1 {
  width: 90%;
  height: auto;
}

.bio-img-1 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.bio-img-wrapper-2 {
  width: 90%;
  height: auto;
}

.bio-img-2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.bio-p-1 {
  text-align: justify;
  padding: 0 2.5rem 0 2.5rem;
  width: 100%;
}

.bio-p-2 {
  text-align: justify;
  padding: 0 2.5rem 0 2.5rem;
  width: 100%;
}

.extra-space-bottom {
  padding-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  .about-row {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .about-row {
    flex-direction: column;
  }
  .about-row-reverse {
    flex-direction: column;
  }

  .med-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sm-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-div {
    padding-bottom: 0;
  }
  .bio-p-1 {
    padding: 1.5rem 0 0 0;
  }
  .bio-p-2 {
    padding: 1.5rem 0 0 0;
  }

  .bio-text-wrapper {
    width: 100%;
    padding-bottom: 6rem;
  }
  .bio-img-wrapper {
    width: 100%;
    height: auto;
  }
  .bio-img {
    max-width: 100%;
    height: auto;
  }

  .header-container {
    flex-direction: column;
    height: 100vh;
    justify-content: end;
  }

  .hello {
    font-size: 5rem;
  }
  .header-text-1,
  .header-text-2 {
    font-size: 1.5rem;
  }
}
