.interests-container {
    height: 100vh;
    background-color: #f5f5f5;
    z-index: 1;
}

.interests-content-wrapper {
    display: flex;
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 100px;
    position: relative;
    height: 100%;
}

.left-music-wrapper {
    width: 65%;
    padding-right: 25px;
}

.performance-1 {
    max-width: 100%;
    width: 1000px;
    height: 500px;
    margin: -50px 0 0 -100px;
}

.performance-2 {
    float: right;
    width: 800px;
    max-width: 100%;
    height: 400px;
    margin: 250px 150px 0 0;
}

.right-music-wrapper {
    width: 35%;
    padding-left: 25px;
    top: 0;
}

.music-text-wrapper {
    display: flex;
    flex-direction: column;
}

.interests-header {
    font-family: hackney;
    font-size: 150px;
    padding-top: 25px;
}

.interests-subHeader {
    font-family: oakes-grotesk;
    padding-bottom: 25px;
    font-size: 24px;
    padding-left: 10px;
}

.interests-description {
    font-family: oakes-grotesk;
    padding-top: 150px;
    padding-bottom: 25px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.music-desc-link {
    text-decoration: none;
    color: black;
}

.music-desc-link:hover {
    color: #f00946;
}

.website-wrapper {
    width: 100%;
}

.website-img {
    height: auto;
    width: 100%; 
}

.arrow-1 {
    animation: color-1 1.5s infinite;
    font-size: 24px;
}

@keyframes color-1 {
    0% { color: black; }
    15% { color: black; }
    20% { color: #f00946; }
    60% { color: black; }
    100% { color: black; }
}

.arrow-2 {
    animation: color-2 1.5s infinite;
    font-size: 24px;
}

@keyframes color-2 {
    0% { color: black; }
    25% { color: black; }
    30% { color: #f00946; }
    80% { color: black; }
    100% { color: black; }
}

.arrow-3 {
    animation: color-3 1.5s infinite;
    font-size: 24px;
}

@keyframes color-3 {
    0% { color: black; }
    35% { color: black; }
    40% { color: #f00946; }
    60% { color: black; }
    100% { color: black; }
}
