.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 999;  
  }

  .nav-menu {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;  
  }

  .menu-left {
    position: absolute;
    display: flex;
    left: 0;
  }

  .menu-center:hover {
    color: #f00946;
  }

  .logoHomeText {
    font-size: 25px;
  }
  
  .menu-right {
    position: absolute;
    display: flex;
    right: 0;;
  }

  .nav-item {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links {
    font-family: oakes-grotesk;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
  }

  .nav-links:hover {
    color: #f00946;
  }

  .navbar-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navbar-logo-img {
    height: 5rem;
    width: auto;
    padding: 0.5rem;
  }

  .navbar-logo:hover {
    visibility: visible;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 800px) {

  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 30vh;
      position: absolute;
      top: -500px;
      left: 0;
      opacity: 0;
      transition: all 0.5s ease;
      padding-top: 50px;
    }
  
    .nav-menu.active {
      background: #D6D6D6;
      left: 0;
      opacity: 1;
      top: 0;
      transition: all 0.5s ease;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 50%;
      display: table;
      margin: 0 auto;
    }
  
    .nav-links:hover {
      color: #f00946;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }

    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
      z-index: 1;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 1;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }

  }