.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 999;  
  }

  .nav-menu {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;  
  }
  
  .nav-item {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links {
    font-family: oakes-grotesk;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
  }

  .nav-links:hover {
    color: #f00946;
  }

  .navbar-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navbar-logo-img {
    height: 5rem;
    width: auto;
    padding: 0.5rem;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 800px) {

    .nav-menu {
      opacity: 0;
      flex-direction: column;
    }

    .nav-menu.active {
      background: #D6D6D6;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .menu-icon {
      display: block;
      position: absolute; 
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;
      font-size: 2rem;
      padding: 1rem 1rem 0 0;
    }

    .nav-item {
      padding: 1rem 0;
    }

    .nav-logo-wrapper {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      padding: 1rem 0 0 1rem;
    }

    .nav-links {
      font-size: 1.25rem;
    }
  }