.photography-container {
    flex-direction: column;
    align-items: flex-start;
}

.photo-text-wrapper {
}

.top-photo-wrapper {
    padding-top: 2rem;
}

.photo-portrait {
    border-radius: 10px;
    max-height: 400px;
}

.description-wrapper {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.down-arrow-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.photo-grid-wrapper {
    padding: 1rem
}

.p-grid {
    
}

.p-grid-item-wrapper {
    width: 100%;
}

.p-grid-item-paper {
    height: 100%;
}

.p-grid-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p-grid-img:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;;
    transform: translate3d(0px, -4px, 0px);
}

