.work-container {
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 5rem 10rem 5rem;
  max-width: 2000px;
  margin: 0 auto;
}

.work-text-wrapper {
  width: 100%;
  padding-right: 2rem;
  z-index: 1;
}

.fraction {
  font-family: hackney;
  font-size: 5em;
}

.link-wrapper {
  text-decoration: none;
  width: 100%;
  height: auto;
}

.link-text {
  font-family: oakes-grotesk;
  font-size: 3em;
  color: black;
  transition: color 150ms ease-out;
  display: inline-block;
}

.project-btn {
  padding: 0.75rem 2rem !important;
}

.desc-wrapper {
  width: 100%;
  padding: 2em 0;
  height: auto;
}

.work-description {
  font-family: oakes-grotesk;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: lighter;
}

.work-img-wrapper {
  max-width: 60%;
  width: 100%;
}

.img-link-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.work-img {
  transition: all 200ms ease-out;
  border-radius: 10px;
  width: 700px;
  height: 400px;
}

.work-img:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  transform: translate3d(0px, -4px, 0px);
}

@media screen and (max-width: 1100px) {
  .work-img {
    width: 450px;
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .work-text-wrapper {
    padding-bottom: 65px;
  }

  .work-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .work-img-wrapper {
    align-self: center !important;
  }
}

@media screen and (max-width: 500px) {
  .work-text-wrapper {
    padding-bottom: 2rem;
    padding-right: 0;
  }

  .work-img-wrapper {
    max-width: 100%;
  }
  .work-img-wrapper img {
    width: 100%;
  }
  .fraction {
    font-size: 3rem;
  }

  .link-text {
    font-size: 2rem;
  }

  .desc-wrapper {
    padding: 1rem 0;
  }
}
